<!DOCTYPE html>
<html>
{% include 'header.html' %}
  <body>
{% include 'navbar.html' %}

        <div class="container-fluid">
      <div class="row">
          <h1 class="page-header">Strava Racer</h1>

          <div class="row">
            <div class="col-xs-6 col-sm-3">
              
              <h4>Race distance</h4>
              <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                 <span class="selection">5k</span><span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">5k</a></li>
                  <li><a href="#">10k</a></li>
                  <li><a href="#">Half marathon</a></li>
                  <li><a href="#">Marathon</a></li>
                </ul>
              </div>
            </div>
            <div class="col-xs-6 col-sm-3">
              <h4>Input runs</h4>
        
                <form action="{{ url_for('calc') }}" method=post>
                {{ form.hidden_tag() }}
                <dl>
                  <dt>Race distance
                  <dd>{{ form.raceMi }}
                  <dt>Pace (min/mi)
                  <dd>{{ form.minPace }}
                  <dd>{{ form.maxPace }}
                  <dt>Distance (mi)
                  <dd>{{ form.minDist }}
                  <dd>{{ form.maxDist }}
                  <dt>{{ form.submit }}
                </dl>
              </form>
            </div>
            <div class="container-fluid">
              

                {{ predString|default('') }}
              </div>
            </div>
          </div>
<!--     <div class="container-fluid">
      <div class="row"> -->
            {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <h4>{{ message }}</h4>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
          {% block content %}{% endblock %}
      </div>
    </div>   
  </body>
</html>
