  <head>
    <title>Strava Racer</title>
    <link rel="stylesheet" href="static/bootstrap.min.css">
    <link rel="stylesheet" href="static/bootstrap-theme.min.css">
    <link rel="stylesheet" href="static/bootstrap-slider.min.css">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="static/bootstrap.min.js" ></script>
    <script src="static/bootstrap-slider.min.js" ></script>
   <!--  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  --> 
</head>